<div class="road">
    <div class="dotted" style="margin-left: 0px;"></div>
    <div class="dotted" style="margin-left: 9px;"></div>
    <div class="dotted" style="margin-left: 18px;"></div>
    <div class="dotted" style="margin-left: 27px;"></div>
    <div class="dotted" style="margin-left: 36px;"></div>
    <div class="dotted" style="margin-left: 45px;"></div>
    <div class="dotted" style="margin-left: 54px;"></div>
    <div class="dotted" style="margin-left: 63px;"></div>
    <div class="dotted" style="margin-left: 71px;"></div>
  </div>
<div id="game"></div>