.wrapper {
   
    .margin-left {
        margin-left: 1.75rem;
    }

    .padding {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .editor-container {
            padding-top: 0.4rem;
        }
        
        .link {
            font-size: 16px;
            text-decoration: underline;
            color: black;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            &:hover {
                cursor: pointer;
            }
            .span-lable {
                background-color: green;
                color: whitesmoke;
            }
        }

        .editor-container {
            position: relative;

            .editor-container-wrapper {
                position: relative;

                
            }
            .container {
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                border-collapse: collapse;

                .open-button {
                    font-size: 1.5rem;
                    background-color: whitesmoke;
                    border: 1px solid gray;
                    min-height: 2rem;
                    min-width: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                        color: #0066cc;
                    }

                    &.active {
                        background-color: black;
                        color: whitesmoke;
                        border: 1px solid transparent;
                    }
                }

                .toolbar {
                    flex: 1;
                    background-color: #f2f2f2;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 1rem;
                    min-height: 2.1rem;

                    &.hidden {
                        display: none;
                    }

                    .zero-padding {
                        padding: 0;
                    }
                }
            }
        }
    }  
}
