.wrapper {
   
    .margin-left {
        margin-left: 1.75rem;
    }

    .padding {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .editor-container {
            padding-top: 0.4rem;
        }
        
        .link {
            font-size: 16px;
            text-decoration: underline;
            color: black;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            &:hover {
                cursor: pointer;
            }
            .span-lable {
                background-color: green;
                color: whitesmoke;
            }
        }

        .editor-container {
            position: relative;

            .container {
                display: flex;
                min-height: 3rem;
                border-collapse: collapse;

                .open-button {
                    height: 100%;

                    &.active {
                        background-color: black;
                        color: whitesmoke;
                    }
                }

                .toolbar {
                    flex: 1
                }
            }
        }
    }
}
